# HW

Мои Фамилия Имя: Поварова Лиза

In [270]:
import numpy as np
import pandas as pd

##### Загрузите датасет titanic.csv

In [271]:
df_titanic = pd.read_csv('titanic.csv')

In [272]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_titanic.shape

(891, 12)

In [5]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

> Обратите внимание на разное количество значений переменных
Если это так - то у вас пропуски в данных. Такое бывает. 
Например в этом датасете не получилось выяснить всех подробностей у некоторых людей в виду утери данных, невозможности узнать или восстановить их

In [6]:
df_titanic.describe()

/home/elizabeth/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,NaN,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,NaN,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,NaN,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

> Давайте возьмем для начала только несколько признаков, позже - вы увеличите их количество и сделаете соответствующую обработку.

In [371]:
columns = ['Sex', 'Age', 'Pclass', 'Survived']

In [372]:
simple_train = df_titanic[columns].loc[:500]
simple_test = df_titanic[columns].loc[500:]

> мы пока не умеем на уровне алгоритма работать с пропущенными значениями. 
Представьте вам дают 5-мерный вектор у которого заполнены только три компоненты и другой такой же вектор но у него заполнены лишь две  компоненты.  Как померить их сходство????

distance_between( [1,0,1, NaN, NaN], [NaN, 1, 1, NaN, NaN] )

> один из вариантов - заполнить какими то значениями - например если это возраст - то заполнить средним по датасету или нулем.

>> на будущее - в sklearn есть такой модуль - http://scikit-learn.org/stable/modules/impute.html но сейчас можете заполнить пропуски средствами pandas - метод fillna()

##### Заполните пропущенные значения чем нибудь

In [373]:
simple_test.head()

        Sex   Age  Pclass  Survived
500    male  17.0       3         0
501  female  21.0       3         0
502  female   NaN       3         0
503  female  37.0       3         0
504  female  16.0       1         1

In [374]:
simple_train = simple_train.fillna(0)
simple_test = simple_test.fillna(0)

# можно inplace делать такое, а можно переприсваивать.

> мы чемпионы. Но мы понимаем, что алгоритм у нас метрический - он не понимает как померить близость векторов в которых содержатся строки

distance( [1,1,0,'мужик'], [1, 0, 1, 'принцесска'] )

> поэтому давайте заведем признак is_man который будет принимать значение 0 или 1.

##### Заведите бинарный признак отвечающий за пол. Строковый удалите

хинт - есть метод apply()

In [375]:
simple_train.Sex = simple_train.Sex.apply(lambda x: 0 if x=='male' else 1)
simple_test.Sex = simple_test.Sex.apply(lambda x: 0 if x=='male' else 1)
simple_test.head()

     Sex   Age  Pclass  Survived
500    0  17.0       3         0
501    1  21.0       3         0
502    1   0.0       3         0
503    1  37.0       3         0
504    1  16.0       1         1

##### Сформируйте трейн и тест выборку, где в X лежат признаки 'Sex', 'Age', 'Pclass', а в у - Survived

Результат - numpy array

hint - у pandas есть метод drop() и атрибут values; Пощупайте их

In [376]:
y_train = simple_train.Survived.values
y_test = simple_test.Survived.values
X_train = simple_train.drop(['Survived'],axis=1).values
X_test = simple_test.drop(['Survived'],axis=1).values

mean_ = X_train.mean(axis=0)
std_ = X_train.std(axis=0)
X_train = (X_train - mean_) / std_
X_test = (X_test - mean_) / std_

In [377]:
assert isinstance(X_train, np.ndarray)
assert isinstance(X_test, np.ndarray)
assert isinstance(y_train, np.ndarray)
assert isinstance(y_test, np.ndarray)

In [378]:
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

In [379]:
assert not np.any(np.isnan(X_train)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
assert not np.any(np.isnan(X_test)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'

##### Реализуйте KNN. Сами, как делали это на лекции. 

Можете улучшить его.
(например использовать kd-tree для быстрого поиска ближайших соседей, 
 или обходить соседей и класть расстояния в мин-кучу - тогда вы быстрее будете набирать их, без сортировки.)

In [390]:
class KNN:
    """
    simple KNN classifier with O(n) complexity for memory,
    and O(n log n) complexity - for nn search.
    """
    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y_hat = []
        assert len(X.shape) == 2
        for i in X:              
            d = np.sqrt(np.sum(np.sqrt(self.X-i), axis = 1))
            idx = np.argsort(d)[:self.n]  
            counts = np.bincount(self.y[idx])
            prediction = np.argmax(counts)
            y_hat.append(prediction)
        return np.array(y_hat)

In [383]:
knn = KNN(5)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

##### посчитайте руками (не используя sklearn) качество вашего предсказания

In [385]:
y_test = y_test.reshape(y_test.size,)
acc = np.mean(y_pred == y_test)
print('доля правильных ответов:', acc)

доля правильных ответов: 0.795396419437

In [386]:
np.unique(y_pred)

array([0, 1])

> Мы получили бейслайн решение. Оно должно давать скорр в районе 0.76

____

In [387]:
### можете проверить себя

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.795396419437

In [388]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf=KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

np.unique(y_pred)

print(accuracy_score(y_test, y_pred))

0.805626598465

##### TODO продолжение домашки

1) Добавьте еще признаков. Как минимум хочется чтобы вы добавили в X такие признаки как Cabin, Fare и Embarked.

2) Предобработайте признаки для нашего алгоритма. Поминим - что он (метрический) основан на том, что мы будем считать расстояния. 
Для этого нужно подготовить данные соответственно - привести к одному масштабу и проч. 
(https://sebastianraschka.com/Articles/2014_about_feature_scaling.html#about-standardization)

Когда мы делаем такие преобразования - хочется чтобы знания и любая статистика о тесте не проникали в обучение - 
иначе будет проблема data leakage, а она в свою очередь приведет к переобучению.

Поэтому аккуратно делим на трейн-тест (можно на трейн-валидацию-тест) считаем статистики на обучающей части и применяем их к тестовой.


3) Дальше. Признаки с пропусками - вы знаете что делать. Нужно проявить фантазию и погуглить как их правильно заполнять.

4) Признаки бывают непрерывными и категориальными. К категориальным признакам можно отнести например строки, тип палубы и прочее.
Как их предобрабатывать - зависит от алгоритма. 
Самый простой способ, что сделать с категориальными признаками - представить в виде dummy признаков - так называемый one hot encoding.

4) признак Cabin мб может помочь, но нужно проявить фантазию и вытащить что нибудь полезное.
Например - вытащить оттуда тип палубы.

5) Попробуйте разбить данные на три части (трейн-валидацию-тест) и подобрать гиперпараметр - число ближайших соседей. 
Как вариант можно выбирать на валидации алгоритм который дал наилучший скорр, а затем посмотреть его качество на тесте.

6) советоваться друг с другом можно. Списывать нельзя. Читайте треды kaggle. Спрашивайте преподавателей! Запилите крутые фичи!

In [457]:
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
#выделяем необходимые признаки
columns = ['Sex', 'Age', 'Pclass', 'Survived', 'Cabin', 'Fare', 'Embarked']
data = df_titanic[columns]
data.dtype=object
#количественные признаки заполняем 0, категориальные - самым популярным значением в столбце
data_describe = data.describe(include=[object])
data.Sex = data.Sex.apply(lambda x: 0 if x=='male' else 1)
categorical_columns=['Sex', 'Cabin', 'Embarked']
numerical_columns=['Age', 'Pclass', 'Survived', 'Fare']
for c in categorical_columns:
    data[c] = data[c].fillna(data_describe[c]['top'])
data = data.fillna(data.median(axis=0), axis=0)
#векторизация
binary_columns    = [c for c in categorical_columns if data_describe[c]['unique'] == 2]
nonbinary_columns = [c for c in categorical_columns if data_describe[c]['unique'] > 2]
data_nonbinary = pd.get_dummies(data[nonbinary_columns])
for c in binary_columns[1:]:
    top = data_describe[c]['top']
    top_items = data[c] == top
    data.loc[top_items, c] = 0
    data.loc[np.logical_not(top_items), c] = 1
#нормализация
data_numerical = data[numerical_columns]
data_numerical = (data_numerical - data_numerical.mean()) / data_numerical.std()

data = pd.concat((data_numerical, data[binary_columns], data_nonbinary), axis=1)
data = pd.DataFrame(data, dtype=float)
#делим на трейн и тест
y = np.asarray(data['Survived'], dtype="|S6")
X = data.drop(['Survived'],axis=1)
feature_names = X.columns
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 11)

/home/elizabeth/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/home/elizabeth/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [470]:
#обучаем
knn = KNeighborsClassifier()
X_test.dtype=object
knn.fit(X_train, y_train)
#предсказываем
y_test_predict = knn.predict(X_test)
y_train_predict = knn.predict(X_train)

acc_train = np.mean(y_train == y_train_predict)
acc_test  = np.mean(y_test  != y_test_predict)
print (acc_train, acc_test)

0.85393258427 0.15671641791

In [452]:
arr_of_acc = []
for i in range(1, 100):
    knn = KNeighborsClassifier(i)
    knn.fit(X_train, y_train)
    y_test_predict = knn.predict(X_test)
    acc = np.mean(y_test  == y_test_predict)
    print("{}:".format(i), acc)
    arr_of_acc.append(acc)
print(arr_of_acc.index(max(arr_of_acc))+1)

1: 0.787313432836
2: 0.805970149254
3: 0.805970149254
4: 0.809701492537
5: 0.84328358209
6: 0.817164179104
7: 0.828358208955
8: 0.80223880597
9: 0.832089552239
10: 0.820895522388
11: 0.835820895522
12: 0.832089552239
13: 0.835820895522
14: 0.839552238806
15: 0.858208955224
16: 0.850746268657
17: 0.84328358209
18: 0.850746268657
19: 0.850746268657
20: 0.84328358209
21: 0.839552238806
22: 0.839552238806
23: 0.835820895522
24: 0.835820895522
25: 0.828358208955
26: 0.828358208955
27: 0.832089552239
28: 0.828358208955
29: 0.832089552239
30: 0.824626865672
31: 0.832089552239
32: 0.824626865672
33: 0.828358208955
34: 0.832089552239
35: 0.835820895522
36: 0.832089552239
37: 0.839552238806
38: 0.820895522388
39: 0.828358208955
40: 0.820895522388
41: 0.824626865672
42: 0.817164179104
43: 0.820895522388
44: 0.809701492537
45: 0.817164179104
46: 0.809701492537
47: 0.813432835821
48: 0.813432835821
49: 0.813432835821
50: 0.817164179104
51: 0.813432835821
52: 0.817164179104
53: 0.813432835821
54: 0.817164179104
55: 0.817164179104
56: 0.805970149254
57: 0.809701492537
58: 0.809701492537
59: 0.813432835821
60: 0.809701492537
61: 0.813432835821
62: 0.813432835821
63: 0.813432835821
64: 0.805970149254
65: 0.80223880597
66: 0.794776119403
67: 0.794776119403
68: 0.794776119403
69: 0.794776119403
70: 0.794776119403
71: 0.798507462687
72: 0.794776119403
73: 0.791044776119
74: 0.794776119403
75: 0.794776119403
76: 0.791044776119
77: 0.80223880597
78: 0.798507462687
79: 0.798507462687
80: 0.80223880597
81: 0.80223880597
82: 0.787313432836
83: 0.794776119403
84: 0.787313432836
85: 0.791044776119
86: 0.776119402985
87: 0.772388059701
88: 0.772388059701
89: 0.772388059701
90: 0.768656716418
91: 0.761194029851
92: 0.761194029851
93: 0.757462686567
94: 0.753731343284
95: 0.753731343284
96: 0.753731343284
97: 0.75
98: 0.757462686567
99: 0.764925373134
15

In [453]:
from sklearn.grid_search import GridSearchCV
n_neighbors_array = np.arange(30)+1
knn = KNeighborsClassifier()
grid = GridSearchCV(knn, param_grid={'n_neighbors': n_neighbors_array})
grid.fit(X_train, y_train)

best_n_neighbors = grid.best_estimator_.n_neighbors
print ( grid.best_score_, best_n_neighbors)
#странный результат, но гугл говорит:"Это может быть обусленно тем, что для построения моделей в рамках схемы перекрестного контроля используются не все данные."

0.802568218299 18

In [468]:
class KNN:    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y_hat = []
        assert len(X.shape) == 2
        for i in X:  
            d = np.sqrt(np.sum(np.sqrt(self.X-i), axis = 1))
            idx = np.argsort(d)[:self.n]  
            counts = np.bincount(self.y[idx])
            prediction = np.argmax(counts)
            y_hat.append(prediction)
        return np.array(y_hat)

In [469]:
#обучаем
knn = KNN(5)
X_test.dtype=object
knn.fit(X_train, y_train)
#предсказываем
X_test.Sex = X_test.Sex.astype(np.object)
X_train.Sex = X_train.Sex.astype(np.object)
y_test_predict = knn.predict(X_test)
y_train_predict = knn.predict(X_train)

err_train = np.mean(y_train != y_train_predict)
err_test  = np.mean(y_test  != y_test_predict)
print (err_train, err_test)

/home/elizabeth/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

TypeError: Could not compare ['Age'] with block values